*{
    margin:0;padding:0;box-sizing: border-box;
}
.container{
    height:100%;width:100%;display:flex;align-items: center;
    background:#aaa;
    justify-content: center;
    position:absolute;
}
.content{
    position: relative;
    display:flex;align-items: center;
}
.hourContainer,.secondContainer,.minuteContainer,.milliSecondContainer{
 margin:20px;   background-color: rgba(0, 0, 0, 0.4);
    height:19vh;width:10vw;border-radius: 10px;font-size:2rem;text-align: center;
}
.hr,.min,.sec,.millisecs{
    font-size: 4rem;font-family: consolas;font-weight: 700;line-height: 17vh;
}
.container h1{
    font-size: 3rem;
}

@media only screen and (max-width:1024px ){
    .milliSecondContainer{
        display:none;
    }
    .content{
        flex-direction: column;
    }
    .hourContainer,.secondContainer,.minuteContainer{
        width:50vh;
    }
}
